body {
  background-color: darkseagreen;
}

/* skeleton */
.title-container {
  font-size: 40px;
  display: flex;
  justify-content: center;
  background-color: palegoldenrod;
}

.body {
  display: flex;
  height: 400px;
  background-color: darkkhaki;
}

.daily-items-container {
  display: flex;
  background-color: pink;
  width: 300px;
  flex-basis: 300px;
}

/* Project Page on the home page */

.projects-container {
  display: flex;
  background-color: rgb(155, 43, 43);
  flex-basis: 700px;
}

.projects-header {
  background-color: cornsilk;
  flex-basis: 500px;
}

.projects-nav {
  display: flex;
  flex-direction: column;
  background-color: palevioletred;
  align-items: center;
  flex-basis: 200px;
}

.nav-title {
  padding-top: 10px;
}

#projects-list {
  height: 300px;
}

.projects-presentation {
  margin: 20px;
  display: flex;
  flex-basis: 400px;
  background-color: darkslategray;
  justify-content: center;
}

.project-title {
  padding-top: 10px;
}

/* Footer Shit */

.footer-container {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

/* project card itself (instantiations) */

.project-container {
  display: flex;
  width: 400px;
  height: auto;
  background-color: cadetblue;
}
